<div class="parent-page p-4 mb-4">
<div *ngFor="let list of lists" class="list-section bg-custom rounded border-custom p-4.5 mx-auto mb-4">
  <app-group-header
    [list]="list"
    [(numberOfGroups)]="numberOfGroups"
    [(criteria)]="criteria"
    (generate)="generateForList(list.id)"
 
  ></app-group-header>

<app-group-generated
  [list]="list"
  [groups]="list.generatedGroups || []"
  [groupNames]="list.groupNames || []"
  (generate)="generateForList(list.id)"
  (groupNamesChange)="updateGroupNames(list)"
></app-group-generated>

  <button class="btn btn-outline-custom mt-3" (click)="toggleSavedGroupsVisibility(list)">
    {{ list.showSavedGroups ? 'Cacher' : 'Afficher' }} l’historique
  </button>

  <app-group-history
    *ngIf="list.showSavedGroups"
    [listId]="list.id"
       (delete)="deleteSavedGroups(list.id)"
  ></app-group-history>

  <div *ngIf="errorMessage" class="error mt-3 text-danger fw-bold">
    {{ errorMessage }}
  </div>
</div>
</div>