

.parent-page {
  background-color: #9e8167;
  
  min-height: 100vh;
  box-sizing: border-box;

  margin: 0;
  font-weight: 500;

}

.list-section {
  background-color: #ebd2c2;
  border: 1.5px solid #c29b7f;
  color: #3a2a20;
  border-radius: 5rem;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 2rem;

  height: 100%;
}


.btn-outline-custom {
  color: #523f34;
  border-color: #c29b7f;
  font-weight: 700;
}

.btn-outline-custom:hover,
.btn-outline-custom:focus {
  background-color: #c29b7f;
  color: #523f34;
  border-color: #946543;
}

.error {
  font-size: 1rem;
}

/* Responsive */
@media (max-width: 768px) {
  :host {
    max-width: 100%;
    padding: 0 1rem;
  }
}
