<div class="container-fluid parent-page py-4 ">
  <div class="row justify-content-center g-4">

    <div class="col-12 col-md-10">
      <app-group-title title=". GENERATEUR DE GROUPES ."></app-group-title>
    </div>

    <div *ngFor="let list of lists" class="col-12 col-md-5 ">
      <div class="list-section p-4 ">

        <app-group-header
          [list]="list"
          [numberOfGroups]="numberOfGroups"
            (numberOfGroupsChange)="numberOfGroups = $event"

          [criteria]="criteria"
          [groupNames]="list.groupNames || []"
          [tirageName]="list.tirageName || ''"
          (generate)="generateForList(list.id)"
          (groupNamesChange)="updateGroupNames(list, $event)"
          (tirageNameChange)="updateTirageName(list, $event)">
        </app-group-header>

        <app-group-generated
          [list]="list"
          [groups]="list.generatedGroups || []"
          [groupNames]="list.groupNames || []"
          [errorMessage]="list.errorMessage || ''"
          (generate)="generateForList(list.id)"
          [groups]="list.generatedGroups || []"
          [groupNames]="list.groupNames || []"
          (groupNamesChange)="updateGroupNames(list, $event)">
        </app-group-generated>

          <div class="text-center w-100 py-3 " *ngIf="list.showGroups && !list.groupsSaved">
            <button class="btn btn-success w-45 py-2" (click)="archiveGroups(list.id)">
              Archiver ce tirage
            </button>
          </div>

        <div class="text-center w-100 py-3 mt-4">
          <button 
            class="btn w-100 py-3" 
            [ngClass]="list.showSavedGroups ? 'btn-orange-custom' : 'btn-outline-custom'"
            (click)="toggleSavedGroupsVisibility(list)">
            {{ list.showSavedGroups ? 'Cacher' : 'Afficher' }} l’historique
          </button>

        </div>

        <app-group-history
          *ngIf="list.showSavedGroups"
          [listId]="list.id"
          (delete)="deleteSavedGroups(list.id)">
        </app-group-history>

      </div>
    </div>

  </div>
</div>
