<div class="col-12 ms-md-0"> <!-- col-12 pour max largeur -->
  <h5 class="text-brown fw-semibold">Liste des personnes :</h5>
  <div class="table-responsive">
    <table class="table table-bordered border-dark table-striped align-middle text-center">
      <thead class="table-dark">
        <tr>
          <th>Nom</th>
          <th>Genre</th>
          <th>Français</th>
          <th>dwwm</th>
          <th>Tech</th>
          <th>Profil</th>
          <th>Âge</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="!persons || persons.length === 0">
          <td colspan="8" class="text-center text-muted">Aucune personne dans la liste</td>
        </tr>
        <tr *ngFor="let person of persons">
          <td class="nom-cell">{{ person.lastName }}</td>
          <td>{{ person.gender }}</td>
          <td>{{ person.frenchLevel }}</td>
          <td>{{ person.isFormerDwwm ? 'Oui' : 'Non' }}</td>
          <td>{{ person.technicalLevel }}</td>
          <td>{{ person.profile }}</td>
          <td>{{ person.age }}</td>
          <td class="btnSupp text-center" style="background-color: #b32d2d;">
            <button (click)="onDeletePerson(person.id)" class="btn btn-Supp btn-sm text-white fw-bold fs-5">✖</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
