<body>
<div class="page-list">
  <app-list-header
    [newListName]="newListName"
    [errorMessage]="errorMessage"
    (newListNameChange)="newListName = $event"
    (create)="createList()"
  ></app-list-header>

        <ul class="list-unstyled">
          <app-list-item
        *ngFor="let list of lists"
        [list]="list"
        [selectedListId]="selectedListId"
        [editingListId]="editingListId"
        (selectList)="selectList($event)"
        (editListName)="editListName($event)"
        (saveListName)="saveListName(list.id, $event)"
        (deleteList)="deleteList($event)"
          >
      <div *ngIf="selectedListId === list.id" class="row gx-3 p-3 bg-light-custom border-custom rounded-3">

        <div class="col-md-6" style="width: 40%;">
          <app-person-form
            [formPerson]="formPerson"
            (submitPerson)="submitPerson()"
          ></app-person-form>
        </div>

        <div class="col-md-6 ms-3">
          <app-person-table
            [persons]="list.persons || []"
            (deletePerson)="deletePerson($event)"
          ></app-person-table>
        </div>

      </div>
    </app-list-item>
  </ul>
</div>
<app-generate-button></app-generate-button>
</body>
