<div class="group-section rounded border-custom p-4 mx-auto">


  <div class="d-flex justify-content-center mt-4 mb-4">
    <button class="btn btn-primary-custom fw-bold p-3 px-5" (click)="onGenerate()">
      Générer les groupes
    </button>
  </div>
  <!-- <div *ngIf="!tirageName?.trim()" class="text-danger mt-2">
    Veuillez entrer un nom de tirage avant de générer.
  </div> -->

  <div *ngIf="errorMessage" class="error text-danger fw-bold mb-3 text-center">
    {{ errorMessage }}
  </div>
  <div *ngIf="showGroups">

    <div *ngIf="list?.tirageName" class="text-center  p-1">
      <h4 class="fw-bold text-uppercase text-brown tirageName mt-4">
        {{ list.tirageName }}
      </h4>
    </div>

      <div *ngFor="let group of groups; let i = index" class="group card mb-4 shadow-sm p-3">

<input
  type="text"
  class="form-label mb-1 fw-bold text-brown mb-4 mt-3 p-2"
  [placeholder]="placeholder"
  (focus)="onInputFocus($event)"
  (focus)="clearPlaceholder()"
  (blur)="resetPlaceholder()"
/>

<ul
  class="list-group group-list px-4"
  cdkDropList
  [cdkDropListData]="group.persons"
  [cdkDropListConnectedTo]="connectedDropListsIds(i)"
  (cdkDropListDropped)="drop($event)"
  (cdkDragStarted)="dropStarted()"
  (cdkDragEnded)="dropEnded()"
  [id]="'group-list-' + i"

>


          <li
        *ngFor="let person of group.persons; let j = index"
        class="list-group-item group-list-item mb-3 p-3 mx-4"
        cdkDrag>
        
            {{ person.lastName }} - {{ person.age }} ans {{ person.isFormerDwwm ? '(Ancien DWWM)' : '' }}
          </li>
        </ul>
      </div>

  </div>
</div>