.group-section {
  font-family: 'Poiret One', cursive;
  background-color: #b87e53;
  border: 2px solid #c29b7f;
  border-radius: 0.75rem;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  color: #523f34;
  margin: 0 auto 2rem;
}

.group-title {
  color: #5e3b2c;
  font-size: 2.5rem;
  font-weight: 700;
}

.group-input {
  width: 100%;
  background-color: #bd8e6a;
  border-color: #c29b7f;
  color: #3a2a20;
  font-weight: 600;
}

.group-list-item {
  background-color: #e6d3b8; /* clair et chaleureux */
  color: #523f34;
  font-weight: 600;
  border: 1px solid #c29b7f;
}

.btn-primary-custom {
  background-color: #a86d4f;
  color: #f3cfbc;
  border: 1px solid #50372a;
  font-weight: 700;
  font-size: 18px;
}

.btn-primary-custom:hover {
  background-color: #8b5237;
}

.btn-secondary-custom {
  background-color: #d5a365;
  color: #3a2a20;
  border: 1px solid #7a5a49;
  font-weight: 700;
}

.btn-secondary-custom:hover {
  background-color: #af7754;
}

.btn-danger-custom {
  background-color: #d64545;
  color: white;
  font-weight: 700;
}

.btn-danger-custom:hover {
  background-color: #b32d2d;
}

.btn-edit-custom {
  background-color: rgb(5, 119, 5);
  color: white;
  font-weight: 500;
}

.btn-edit-custom:hover {
  background-color: rgb(26, 107, 26);
}

/* Responsive */
@media (max-width: 768px) {
  .group-title {
    font-size: 2rem;
  }
}
