

<div class="group-header">
  <h2>Liste : {{ list.name }}</h2>

  <label>Nombre de groupes :
    <input type="number" [(ngModel)]="numberOfGroups" (ngModelChange)="onNumberChange($event)" min="2" />
  </label>

  <label>
    <input type="checkbox" [(ngModel)]="criteria.mixerAncienDwwm" (change)="onCriteriaChange()" />
    Mixer ancien et DWWM
  </label>

  <label>
    <input type="checkbox" [(ngModel)]="criteria.mixerAge" (change)="onCriteriaChange()" />
    Mixer par âge
  </label>

  <button (click)="generate.emit()">Générer</button>
  <button (click)="delete.emit()">Supprimer les groupes</button>
</div>






<!-- <div class="bg-list-header">
    <div class="bg-list-header p-4 mb-4" style="
        background-color: #ddb393;
        border: 2px solid #c29b7f;
        border-radius: 0.75rem;
      ">
      <h2 class="text-center mb-0">Générateur de groupes</h2>

      <div class="d-flex align-items-center gap-4 mb-3" style="max-width: 600px">
        <div class="d-flex align-items-center mt-4" style="gap: 10px">
          <label for="numberOfGroups" class="form-label mb-0">Nombre :</label>
          <input type="number" id="numberOfGroups" name="numberOfGroups" class="form-control form-control-custom"
            style="width: 55px; background-color: #bd8e6a; font-weight: 600" min="1" [(ngModel)]="numberOfGroups"
            required />
        </div>

        <div class="form-check d-flex align-items-center me-3 ms-4 mt-3" >
          <input type="checkbox" id="mixerAncienDwwm" [(ngModel)]="criteria.mixerAncienDwwm" class="form-check-input" />
          <label for="mixerAncienDwwm" class="form-check-label ms-2">Mixer dwwm</label>
        </div>

        <div class="form-check d-flex align-items-center mt-3">
          <input type="checkbox" id="mixerAge" [(ngModel)]="criteria.mixerAge" class="form-check-input age" />
          <label for="mixerAge" class="form-check-label ms-2">Mixer âge</label>
        </div>
      </div>
    </div> -->