@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");

.bg-list-header {
  font-family: 'Poiret One', cursive;
  background-color: #ddb393;
  border: 2px solid #c29b7f;
  border-radius: 15%;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #523f34;
  margin: 0 auto 1.5rem;
}

h2 {
  color: #5e3b2c;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  border-bottom: 1px solid #7a5a49;
  margin-bottom: 1rem;
  display: inline-block;
  /* prend la taille du texte */

}

.text {
  text-align: center;
}

h3 {
  color: #5e3b2c;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.bg-list-header h2.text-custom {
  color: #5e3b2c;
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1.5rem;

}

.bg-list-header label.text-brown {
  color: #5e3b2c;
  font-weight: 600;
}

.bg-list-header input.form-control-custom {
  background-color: #bd8e6a;
  border-color: #c29b7f;
  color: #3a2a20;
  font-weight: 600;
  border-color: #6e4b3a !important;

}

.form-control-custom {
  width: 150px;
}

.bg-list-header .form-check-input {
  background-color: #bd8e6a;
  border-color: #785235;
  width: 18px;
  height: 18px;
}

.bg-list-header .form-check-input:checked {
  background-color: #6e4b3a !important;
  border-color: #6e4b3a !important;
}

.bg-list-header .form-check-label.text-brown {
  font-weight: 600;
  color: #5e3b2c;
}

.bg-list-header .btn-primary-custom {
  background-color: #a56f4c;
  border-color: #8e5e3f;
  font-weight: 700;
  color: white;
}

.bg-list-header .btn-primary-custom:hover,
.bg-list-header .btn-primary-custom:focus {
  background-color: #8e5e3f;
  border-color: #715437;
}


.bg-list-header .btn-danger-custom {
  background-color: #d9534f;
  border-color: #c9302c;
  font-weight: 700;
  color: white;
}

.bg-list-header .btn-danger-custom:hover,
.bg-list-header .btn-danger-custom:focus {
  background-color: #c9302c;
  border-color: #ac2925;
}

.form-check {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-left: 0 !important;
}


.form-check-label {
  order: 1;
  font-size: 25px !important;
  font-weight: 700;
  color: #5e3b2c;
  margin-bottom: 0;
  user-select: none;

}

.form-check-input {
  order: 2;
  margin: 0;
  cursor: pointer;
  padding-left: 0 !important;
}

@media (max-width: 768px) {
  .bg-list-header h2.text-custom {
    font-size: 2rem;
  }

  .bg-list-header input.form-control-custom {
    width: 100% !important;
  }

  .bg-list-header .mb-3.row.align-items-center {
    flex-direction: column;
    align-items: stretch;
  }

  .bg-list-header .d-flex.justify-content-center.gap-3.flex-wrap.mt-4 {
    flex-direction: column;
    align-items: stretch;
  }

  @media (min-width: 1800px) {
    .bg-list-header>.d-flex.flex-wrap.gap-4.justify-content-between.align-items-center.mb-4 {
      flex-direction: column !important;
      align-items: flex-start !important;
      /* ou center, selon préférence */
    }
  }

}